
<p style="font-size:21px; font-family:'Times New Roman';">
Read report dates data 
</p>

In [32]:
import pandas as pd
import numpy as np
csv_file_path = '/Users/balmeru/Downloads/QQQQ.csv'
df = pd.read_csv(csv_file_path)

In [33]:
df.head()

,GVKEY,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,ibq,lseq,ltq,pstkq,teqq,txdbq,dvpy,costat,mkvaltq,prccq
0,1000,1975-06-30,1975,2,12,INDL,C,D,STD,AE.2,...,0.875,NaN,NaN,0.414,NaN,NaN,NaN,I,NaN,2.875
1,1000,1975-09-30,1975,3,12,INDL,C,D,STD,AE.2,...,0.613,NaN,NaN,0.414,NaN,NaN,NaN,I,NaN,4.000
2,1000,1975-12-31,1975,4,12,INDL,C,D,STD,AE.2,...,0.606,23.905,11.596,2.069,NaN,NaN,NaN,I,NaN,4.375
3,1000,1976-03-31,1976,1,12,INDL,C,D,STD,AE.2,...,0.726,32.531,19.469,2.069,NaN,NaN,0.031,I,NaN,6.750
4,1000,1976-06-30,1976,2,12,INDL,C,D,STD,AE.2,...,1.603,35.157,20.287,2.069,NaN,NaN,NaN,I,NaN,7.250

In [34]:
df['market_cap'] = df['prccq'] / df['ajexq'] * df['cshoq']

In [35]:
print(df[['prccq', 'ajexq', 'cshoq', 'market_cap']].head())

   prccq  ajexq  cshoq  market_cap
0  2.875    1.0  2.092     6.01450
1  4.000    1.0  2.094     8.37600
2  4.375    1.0  2.098     9.17875
3  6.750    1.0  2.096    14.14800
4  7.250    1.0  2.163    15.68175

In [36]:
# Calculate upper and lower bounds
df['lower_bound'] = 0.8 * df['market_cap']
df['upper_bound'] = 1.2 * df['market_cap']
print(df[['market_cap', 'lower_bound', 'upper_bound']])

            market_cap    lower_bound    upper_bound
0             6.014500       4.811600       7.217400
1             8.376000       6.700800      10.051200
2             9.178750       7.343000      11.014500
3            14.148000      11.318400      16.977600
4            15.681750      12.545400      18.818100
...                ...            ...            ...
1085910      98.553000      78.842400     118.263600
1085911    1761.430000    1409.144000    2113.716000
1085912    2049.070400    1639.256320    2458.884480
1085913  321206.432121  256965.145697  385447.718545
1085914  292932.029293  234345.623435  351518.435152

[1085915 rows x 3 columns]

In [37]:
df['quarterly_report'] = (df['fqtr'].isin([1, 2, 3])).astype(int)
df['annual_report'] = (df['fqtr'] == 4).astype(int)
print(df[['fqtr', 'quarterly_report', 'annual_report']])

         fqtr  quarterly_report  annual_report
0           2                 1              0
1           3                 1              0
2           4                 0              1
3           1                 1              0
4           2                 1              0
...       ...               ...            ...
1085910     1                 1              0
1085911     4                 0              1
1085912     1                 1              0
1085913     4                 0              1
1085914     1                 1              0

[1085915 rows x 3 columns]

In [38]:
df['fyr'] = pd.to_numeric(df['fyr'], errors='coerce')
df = df.sort_values(by=['tic', 'fyearq', 'fqtr'])
ticker_change = df['tic'] != df['tic'].shift(1)
df['fyr_change_dummy'] = ((df['fyr'] != df['fyr'].shift(1)) & (~ticker_change)).astype(int)

# Fill the first occurrence of each ticker group with 0
df.loc[df.groupby('tic').head(1).index, 'fyr_change_dummy'] = 0

In [39]:
print(df[['tic', 'rdq', 'fyearq', 'fqtr', 'fyr', 'fyr_change_dummy']].head(60))

         tic         rdq  fyearq  fqtr  fyr  fyr_change_dummy
60380  0015B         NaN    1983     3   10                 0
60381  0015B  1984-01-16    1983     4   10                 0
60382  0015B  1984-03-15    1984     1   10                 0
60383  0015B  1984-05-25    1984     2   10                 0
60384  0015B  1984-08-27    1984     3   10                 0
60385  0015B  1985-01-01    1984     4   10                 0
60386  0015B  1985-03-05    1985     1   10                 0
60387  0015B  1985-06-17    1985     2   10                 0
60388  0015B  1985-09-09    1985     3   10                 0
60389  0015B  1986-01-06    1985     4   10                 0
60390  0015B  1986-03-06    1986     1   10                 0
60391  0015B  1986-06-03    1986     2   10                 0
60392  0015B  1986-09-11    1986     3   10                 0
60393  0015B  1987-01-12    1986     4   10                 0
60394  0015B  1987-03-04    1987     1   10                 0
60395  0015B  1987-06-03    1987     2   10                 0
60396  0015B  1987-09-08    1987     3   10                 0
60397  0015B  1988-01-19    1987     4   10                 0
60398  0015B  1988-03-11    1988     1   10                 0
60399  0015B  1988-06-08    1988     2   10                 0
60400  0015B  1988-09-07    1988     3   10                 0
60402  0015B  1989-01-26    1988     4   10                 0
60401  0015B  1989-03-10    1989     1    6                 1
60403  0015B  1989-06-07    1989     2    6                 0
60404  0015B         NaN    1989     3    6                 0
60405  0015B         NaN    1989     4    6                 0
60406  0015B  1989-11-08    1990     1    6                 0
60407  0015B  1990-02-02    1990     2    6                 0
60408  0015B  1990-05-11    1990     3    6                 0
60409  0015B  1990-09-10    1990     4    6                 0
60410  0015B  1990-11-12    1991     1    6                 0
60411  0015B  1991-02-07    1991     2    6                 0
60412  0015B  1991-05-02    1991     3    6                 0
60413  0015B  1991-09-26    1991     4    6                 0
60414  0015B         NaN    1992     1    6                 0
60415  0015B  1992-02-05    1992     2    6                 0
60416  0015B  1992-05-06    1992     3    6                 0
60417  0015B  1992-09-08    1992     4    6                 0
60418  0015B  1992-11-05    1993     1    6                 0
60419  0015B  1993-02-02    1993     2    6                 0
60420  0015B  1993-05-06    1993     3    6                 0
60421  0015B  1993-08-31    1993     4    6                 0
60422  0015B  1993-11-08    1994     1    6                 0
60423  0015B  1994-02-08    1994     2    6                 0
60424  0015B  1994-05-11    1994     3    6                 0
60425  0015B  1994-09-20    1994     4    6                 0
60426  0015B  1994-11-09    1995     1    6                 0
60427  0015B  1995-02-10    1995     2    6                 0
60428  0015B  1995-05-16    1995     3    6                 0
60429  0015B  1995-09-21    1995     4    6                 0
60430  0015B  1995-11-09    1996     1    6                 0
60431  0015B  1996-02-07    1996     2    6                 0
60432  0015B  1996-05-07    1996     3    6                 0
60433  0015B  1996-09-16    1996     4    6                 0
60434  0015B  1996-11-13    1997     1    6                 0
60435  0015B  1997-02-07    1997     2    6                 0
60436  0015B  1997-05-08    1997     3    6                 0
60437  0015B  1997-09-10    1997     4    6                 0
60438  0015B  1998-09-23    1998     1    5                 1
60439  0015B  1998-12-23    1998     2    5                 0

In [40]:
filtered_df = df[(df['fyr_change_dummy'] == 1) & (df['market_cap'].isna())]
num_entries = len(filtered_df)

print(f'Number of entries where fyr_change_dummy == 1 and market_cap is empty: {num_entries}')

Number of entries where fyr_change_dummy == 1 and market_cap is empty: 411

#### As we see instances which had fyr change, 411 cases had empty market_caps. It means 411 out of 413 median distances that 
#### are uncalculated was due to **missing market_cap**.

In [41]:
filtered_df = df[(df['fyr_change_dummy'] == 1) & (df['cshoq'].isna())]
num_entries = len(filtered_df)

print(f'Number of entries where fyr_change_dummy == 1 and cshoq is empty: {num_entries}')

Number of entries where fyr_change_dummy == 1 and cshoq is empty: 393

In [42]:
filtered_rows = df[(df['fyr_change_dummy'] == 1) & df['cshoq'].notna() & df['prccq'].isna()]
print(f"Number of rows with fiscal year change, 'cshoq' present, and 'prccq' missing: {len(filtered_rows)}")

Number of rows with fiscal year change, 'cshoq' present, and 'prccq' missing: 18

#### For now we will relieve this 18 missing price cases

#### Now we will look for one above and below non-empty 'cshoq'. Determining which year and quarter found cshoqs belong to, we calculate the proportionate cshoq where it's missing
#### Example: Missing cshoq is 2024 Q1, above non-empty cshoq 2023 Q4 = 7, below 2024 Q2 =8, then we fill in with 7.5
#### Missing cshoq is 2024 Q2, above non-empty cshoq 2024 Q2 = 1, below 2024 Q4 =2, then we fill in with 1.33. 
#### If above and below non-empty cshoqs are the same, then our cshoq is equal to that value.

In [43]:
# Initialize above_cshoq, below_cshoq, above_datafqtr, and below_datafqtr as NaN
df['above_cshoq'] = np.nan
df['below_cshoq'] = np.nan
df['above_datafqtr'] = np.nan
df['below_datafqtr'] = np.nan

# Find rows where fyr_change_dummy is 1 and cshoq is NaN
missing_cshoq_indices = df[(df['fyr_change_dummy'] == 1) & df['cshoq'].isna()].index

# Iterate over the missing cshoq indices to find above_cshoq, below_cshoq, above_datafqtr, and below_datafqtr
for index in missing_cshoq_indices:
    tic = df.at[index, 'tic']
    current_datafqtr = df.at[index, 'datafqtr']
    
    # Find the row above with a non-missing cshoq value
    above_rows = df[(df['tic'] == tic) & (df['datafqtr'] < current_datafqtr)].sort_values(by='datafqtr', ascending=False)
    for _, above_row in above_rows.iterrows():
        if not pd.isna(above_row['cshoq']):
            df.at[index, 'above_cshoq'] = above_row['cshoq']
            df.at[index, 'above_datafqtr'] = above_row['datafqtr']
            break
    
    # Find the row below with a non-missing cshoq value
    below_rows = df[(df['tic'] == tic) & (df['datafqtr'] > current_datafqtr)].sort_values(by='datafqtr', ascending=True)
    for _, below_row in below_rows.iterrows():
        if not pd.isna(below_row['cshoq']):
            df.at[index, 'below_cshoq'] = below_row['cshoq']
            df.at[index, 'below_datafqtr'] = below_row['datafqtr']
            break

# Print rows where fyr_change_dummy is 1 and cshoq is NaN
print(df[(df['fyr_change_dummy'] == 1) & df['cshoq'].isna()])

/var/folders/ds/rfyxvvb945vdt8znlkx31w1m00cj2y/T/ipykernel_15229/4092613696.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1988Q4' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'above_datafqtr'] = above_row['datafqtr']
/var/folders/ds/rfyxvvb945vdt8znlkx31w1m00cj2y/T/ipykernel_15229/4092613696.py:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1989Q4' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'below_datafqtr'] = below_row['datafqtr']

         GVKEY    datadate  fyearq  fqtr  fyr indfmt consol popsrc datafmt  \
60401     2484  1988-09-30    1989     1    6   INDL      C      D     STD
660313   23929  1996-12-31    1997     1    9   INDL      C      D     STD
231881    6726  1979-12-31    1980     1    9   INDL      C      D     STD
108041    3688  1980-09-30    1981     1    6   INDL      C      D     STD
518434   14287  1990-03-31    1990     1   12   INDL      C      D     STD
...        ...         ...     ...   ...  ...    ...    ...    ...     ...
607619   18484  1994-11-30    1995     1    8   INDL      C      D     STD
667704   24318  1999-03-31    1999     1   12   INDL      C      D     STD
909337  100598  2000-03-31    2000     1   12   INDL      C      D     STD
793958   30751  1997-03-31    1997     1   12   INDL      C      D     STD
433183   11656  1991-05-31    1991     1    2   INDL      C      D     STD

           tic  ...  market_cap lower_bound upper_bound quarterly_report  \
60401    0015B  ...         NaN         NaN         NaN                1
660313   0147A  ...         NaN         NaN         NaN                1
231881   2788A  ...         NaN         NaN         NaN                1
108041   2919B  ...         NaN         NaN         NaN                1
518434   3213B  ...         NaN         NaN         NaN                1
...        ...  ...         ...         ...         ...              ...
607619  WWWW.1  ...         NaN         NaN         NaN                1
667704    XL.1  ...         NaN         NaN         NaN                1
909337     XLL  ...         NaN         NaN         NaN                1
793958   XPRSA  ...         NaN         NaN         NaN                1
433183    YORK  ...         NaN         NaN         NaN                1

       annual_report  fyr_change_dummy  above_cshoq  below_cshoq  \
60401              0                 1       11.762       11.808
660313             0                 1        6.548        6.555
231881             0                 1        8.436        8.458
108041             0                 1        3.126        3.126
518434             0                 1       71.085       71.345
...              ...               ...          ...          ...
607619             0                 1        8.804       91.422
667704             0                 1      111.804      127.580
909337             0                 1      104.860          NaN
793958             0                 1       12.086       12.117
433183             0                 1        8.477        9.148

        above_datafqtr  below_datafqtr
60401           1988Q4          1989Q4
660313          1996Q4          1997Q2
231881          1979Q4          1980Q2
108041          1980Q4          1981Q3
518434          1989Q4          1990Q4
...                ...             ...
607619          1994Q4          1995Q3
667704          1998Q4          1999Q3
909337          1999Q4             NaN
793958          1996Q4          1997Q2
433183          1990Q4          1991Q3

[393 rows x 39 columns]

In [44]:
filtered_df = df[(df['fyr_change_dummy'] == 1) & 
                 df['cshoq'].isna() & 
                 df['above_cshoq'].notna() & 
                 df['below_cshoq'].notna()]
count_both_na = filtered_df.shape[0]
print("Number of rows where both above_cshoq and below_cshoq are  NaN:", count_both_na)

print(filtered_df[['tic', 'fyr', 'fyr_change_dummy', 'market_cap', 'prccq', 'ajexq', 'cshoq' ]])

Number of rows where both above_cshoq and below_cshoq are  NaN: 371
           tic  fyr  fyr_change_dummy  market_cap     prccq     ajexq  cshoq
60401    0015B    6                 1         NaN  20.62499  4.049999    NaN
660313   0147A    9                 1         NaN  12.87500  1.000000    NaN
231881   2788A    9                 1         NaN  38.00000  1.000000    NaN
108041   2919B    6                 1         NaN   3.00000  1.000000    NaN
518434   3213B   12                 1         NaN  18.50000  1.000000    NaN
...        ...  ...               ...         ...       ...       ...    ...
424879    WWON   12                 1         NaN   9.12500  0.010000    NaN
607619  WWWW.1    8                 1         NaN   7.00000  0.100000    NaN
667704    XL.1   12                 1         NaN  60.75000  1.000000    NaN
793958   XPRSA   12                 1         NaN  14.00000  1.000000    NaN
433183    YORK    2                 1         NaN  20.00000  1.000000    NaN

[371 rows x 7 columns]

In [45]:
df['diff_fqtr'] = np.nan

# Calculate diff_fqtr for rows where both below_datafqtr and above_datafqtr are given
mask = (df['fyr_change_dummy'] == 1) & df['cshoq'].isna() & df['below_datafqtr'].notna() & df['above_datafqtr'].notna()

for index, row in df[mask].iterrows():
    # Extract year and quarter from below_datafqtr and above_datafqtr
    below_year, below_quarter = row['below_datafqtr'].split('Q')
    above_year, above_quarter = row['above_datafqtr'].split('Q')

    # Convert year and quarter to integers
    below_year = int(below_year)
    below_quarter = int(below_quarter)
    above_year = int(above_year)
    above_quarter = int(above_quarter)

    # Calculate the difference in quarters
    diff_fqtr = (below_year - above_year) * 4 + (below_quarter - above_quarter)

    # Update the diff_fqtr column with the calculated difference
    df.at[index, 'diff_fqtr'] = diff_fqtr

In [46]:
filtered_df = df[(df['fyr_change_dummy'] == 1) & 
                 df['cshoq'].isna() & 
                 df['diff_fqtr'].isna() ]
count_both_na = filtered_df.shape[0]
print("Number of rows where diff_fqtr are  NaN:", count_both_na)

Number of rows where diff_fqtr are  NaN: 22

In [47]:
df['diff_cshoq'] = df.apply(lambda row: row['below_cshoq'] - row['above_cshoq'] if pd.notna(row['above_cshoq']) and pd.notna(row['below_cshoq']) else np.nan, axis=1)

In [48]:
filtered_df = df[(df['fyr_change_dummy'] == 1) & 
                 df['cshoq'].isna() & 
                 df['diff_cshoq'].isna() ]
count_both_na = filtered_df.shape[0]
print("Number of rows where diff_fqtr are  NaN:", count_both_na)

Number of rows where diff_fqtr are  NaN: 22

In [49]:
filtered_df = df[(df['fyr_change_dummy'] == 1) & 
                 df['cshoq'].isna() & 
                 df['above_datafqtr'].isna() &df['below_datafqtr'].isna()   ]
count_both_na = filtered_df.shape[0]
print("Number of rows where diff_fqtr are  NaN:", count_both_na)

Number of rows where diff_fqtr are  NaN: 1

In [50]:
filtered_df = df[(df['fyr_change_dummy'] == 1) & 
                 df['cshoq'].isna() & 
                 df['diff_cshoq'].notna() ]
count_both_na = filtered_df.shape[0]
print("Number of rows where diff_fqtr are  NaN:", count_both_na)

Number of rows where diff_fqtr are  NaN: 371

In [51]:
df['new_cshoq'] = np.nan

# Calculate new_cshoq for rows where fyr_change_dummy is 1, cshoq is NaN, and diff_cshoq and diff_fqtr are not NaN
mask = (df['fyr_change_dummy'] == 1) & df['cshoq'].isna() & df['diff_cshoq'].notna() & df['diff_fqtr'].notna()

for index, row in df[mask].iterrows():
    # Calculate the difference between datafqtr and above_datafqtr
    above_year, above_quarter = row['above_datafqtr'].split('Q')
    data_year, data_quarter = row['datafqtr'].split('Q')
    
    above_year = int(above_year)
    above_quarter = int(above_quarter)
    data_year = int(data_year)
    data_quarter = int(data_quarter)
    
    difference = (data_year - above_year) * 4 + (data_quarter - above_quarter)
    
    # Calculate new_cshoq value
    new_cshoq = row['above_cshoq'] + (row['diff_cshoq'] / row['diff_fqtr']) * difference
    
    # Update the new_cshoq column with the calculated value
    df.at[index, 'new_cshoq'] = new_cshoq

print(df[['tic', 'fyr', 'cshoq', 'above_cshoq', 'new_cshoq']][mask])

           tic  fyr  cshoq  above_cshoq   new_cshoq
60401    0015B    6    NaN       11.762   11.773500
660313   0147A    9    NaN        6.548    6.551500
231881   2788A    9    NaN        8.436    8.447000
108041   2919B    6    NaN        3.126    3.126000
518434   3213B   12    NaN       71.085   71.150000
...        ...  ...    ...          ...         ...
424879    WWON   12    NaN       16.330   21.196333
607619  WWWW.1    8    NaN        8.804   36.343333
667704    XL.1   12    NaN      111.804  117.062667
793958   XPRSA   12    NaN       12.086   12.101500
433183    YORK    2    NaN        8.477    8.700667

[371 rows x 5 columns]

In [52]:
# Update new_cshoq for rows where fyr_change_dummy is 1, cshoq is NaN, and above_cshoq or below_cshoq is NaN
mask_above_nan = (df['fyr_change_dummy'] == 1) & df['cshoq'].isna() & df['above_cshoq'].isna()
mask_below_nan = (df['fyr_change_dummy'] == 1) & df['cshoq'].isna() & df['below_cshoq'].isna()

# Set new_cshoq equal to below_cshoq when above_cshoq is NaN
df.loc[mask_above_nan, 'new_cshoq'] = df.loc[mask_above_nan, 'below_cshoq']

# Set new_cshoq equal to above_cshoq when below_cshoq is NaN
df.loc[mask_below_nan, 'new_cshoq'] = df.loc[mask_below_nan, 'above_cshoq']

print(df[['tic', 'fyr', 'cshoq', 'above_cshoq', 'below_cshoq', 'new_cshoq']][mask_above_nan | mask_below_nan])

            tic  fyr  cshoq  above_cshoq  below_cshoq  new_cshoq
529104    3ACDX   12    NaN        2.100          NaN      2.100
675936   3STPHF    9    NaN        3.969          NaN      3.969
310279    5841A    9    NaN       85.800          NaN     85.800
324940    5853B    6    NaN        2.669          NaN      2.669
450186    6103B   12    NaN        3.416          NaN      3.416
49561     6733B    1    NaN        8.987          NaN      8.987
137050    7556A    6    NaN       16.111          NaN     16.111
1025390   8550B   12    NaN       56.286          NaN     56.286
225521    9901B    8    NaN       15.764          NaN     15.764
548513    CGA.1   12    NaN          NaN      312.110    312.110
455839     CGNE   12    NaN       60.443          NaN     60.443
76634     CHAM.    3    NaN          NaN          NaN        NaN
330491      FA1    6    NaN       25.075          NaN     25.075
194139      HFO    9    NaN        0.977          NaN      0.977
440944    LCNAF    9    NaN       24.731          NaN     24.731
227647    LCOR.    9    NaN        1.358          NaN      1.358
463729     LXUH    6    NaN        2.885          NaN      2.885
628548     MDCA   12    NaN          NaN       12.353     12.353
876111     NAB1    9    NaN       43.473          NaN     43.473
816513     SKIL    1    NaN       86.250          NaN     86.250
398142    UDS.2    5    NaN        0.965          NaN      0.965
909337      XLL   12    NaN      104.860          NaN    104.860

In [53]:
# Replace original cshoq values with new_cshoq for rows where fyr_change_dummy is 1 and cshoq is NaN
mask_replace_cshoq = (df['fyr_change_dummy'] == 1) & df['cshoq'].isna()

# Update cshoq with new_cshoq values
df.loc[mask_replace_cshoq, 'cshoq'] = df.loc[mask_replace_cshoq, 'new_cshoq']

print(df[['tic', 'fyr', 'cshoq']][mask_replace_cshoq])

           tic  fyr       cshoq
60401    0015B    6   11.773500
660313   0147A    9    6.551500
231881   2788A    9    8.447000
108041   2919B    6    3.126000
518434   3213B   12   71.150000
...        ...  ...         ...
607619  WWWW.1    8   36.343333
667704    XL.1   12  117.062667
909337     XLL   12  104.860000
793958   XPRSA   12   12.101500
433183    YORK    2    8.700667

[393 rows x 3 columns]

In [56]:
filtered_df = df[(df['fyr_change_dummy'] == 1) & 
                 df['cshoq'].isna()  ]
count_both_na = filtered_df.shape[0]
print("Number of rows where diff_fqtr are  NaN:", count_both_na)

Number of rows where diff_fqtr are  NaN: 1